@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1 {
        font-size: 4.5rem;
        line-height: 1;
        font-weight: 500;
        line-height: 86px;
    }

    h2 {
        font-size: 3.75rem;
        line-height: 1;
        font-weight: 500;
        line-height: 72px;
    }

    h3 {
        font-size: 3rem;
        line-height: 1;
        font-weight: 500;
        line-height: 60px;
    }

    h4 {
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 500;
        line-height: 48px;
    }

    h5 {
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 500;
        line-height: 42px;
    }

    h6 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 500;
        line-height: 36px;
    }

    p {
        font-size: 1rem;
        line-height: 1.5rem;
        line-height: 26px;
    }

    small {
        font-size: 0.875rem;
        line-height: 1.25rem;
        line-height: 22px;
    }

    .hero-img {
        animation: morph 8s ease-in-out infinite;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        transition: all 1s ease-in-out;
    }

    @keyframes morph {
        0% {
          border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
    
        50% {
          border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        }
    
        100% {
          border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
      }
}